.btn {
  display: block;
  width: 60%;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  font-size: 16px;
  background-color: #108ee9;
  color: #fff;
  border: 1px solid #108ee9;
  border-radius: 5px;
  outline: 0 none;
  -webkit-appearance: none;
  box-sizing: border-box;
  padding: 0;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  white-space: nowrap;
}

.cardBody {
  min-height: auto !important;
  word-break: break-all;
  display: none;
  font-size: 14px;
}

.skeleton {
  width: 90%;
  height: 120px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  margin: 5%;
}

.skeletonTitle {
  width: 60%;
  height: 20px;
  transform-origin: left;
  border-radius: 5px;
  animation: skeleton-stretch 1.2s linear infinite alternate;
  background: rgba(194, 207, 214, 0.3);
}

.skeletonTime {
  width: 40%;
  height: 20px;
  margin-top: 10px;
  border-radius: 2px;
  background: rgba(194, 207, 214, 0.3);
}

.skeletonContent {
  width: 90%;
  height: 40px;
  margin-top: 10px;
  border-radius: 5px;
  transform-origin: left;
  animation: skeleton-stretch 0.7s linear infinite alternate;
  background: rgba(194, 207, 214, 0.3);
}

@keyframes skeleton-stretch {
  from {
    transform: scalex(1);
  }
  to {
    transform: scalex(0.3);
  }
}
