body {
  background-color: #fff !important;
  width: 80%;
  max-width: 1024px;
  height: 100%;
  margin: 32px auto;
  font-size: 18px;
  font-weight: 100;
  overflow-x: hidden;
  word-wrap: break-word;
  color: var(--mainColor, #222);
}

#root {
  position: relative;
}

a, span, label, li, button, h1, h2, h3, h4, h5, h6 {
  cursor: pointer;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: var(--mainColor, #222);
  border: 0;
}

input, textarea {
  font-size: 16px;
  font-weight: 100;
  font-family: monospace;
  color: var(--mainColor, #222);
  border: 1px solid var(--mainColor, #222);
  border-radius: 5px;
}

input::placeholder, textarea::placeholder {
  font-size: 16px;
  font-weight: 100;
  font-family: monospace;
  color: var(--mainColor, #222);
}

/* code fragment */

pre {
  width: auto;
  padding: 24px;
  overflow-x: scroll;
  color: var(--mainColor, #222);
  background-color: transparent;
  border: 1px dashed var(--mainColor, #222);
}

/* main router area */

.content {
  min-height: 60vh;
}

.loading {
  position: fixed;
  left: 0;
  right: 99vw;
  top: 0;
  bottom: 0;
  height: 2px;
  text-align: center;
  background-color: var(--mainColor, #222);
  animation: load 3s ease forwards;
}

.loaded {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 2px;
  text-align: center;
  background-color: var(--mainColor, #222);
}

@keyframes load {
  from {
    right: 99vw;
  }
  to {
    right: 1vw;
  }
}

/* sider */

input[type="color"] {
  display: none;
}

.sider-menu {
  margin: auto;
  text-align: center;
  overflow: hidden;
  font-size: 1.4rem;
  font-weight: 600;
  padding-bottom: 10px;
}

a[href='/about'] {
  font-size: 1rem;
  font-weight: 500;
  float: right;
  margin: 10px 0;
}

.sider-menu a:hover {
  color: rgba(0, 0, 0, .4);
}

.flagcounter {
  width: 200px;
  height: 100px;
  margin: auto;
  transform: translateX(30px);
  background-size: contain;
  background: url("https://s11.flagcounter.com/count/m1nf/bg_FFFFFF/txt_000000/border_FFFFFF/columns_2/maxflags_64/viewers_3/labels_1/pageviews_1/flags_0/percent_0/") no-repeat;
}

.about {
  margin: 10px auto 0;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  body {
    margin: 12px auto;
    font-size: 16px;
  }
}

/* article list */

.back {
  cursor: pointer;
  padding: 0 10px;
  margin-right: 10px;
  font-size: 1rem;
}

.back:hover {
  color: #999;
}

.title {
  color: var(--mainColor, #222);
  cursor: pointer;
  font-size: 1.2rem;
}

.title:hover {
  color: #999999;
}

.article-title {
  color: var(--mainColor, #222);
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
}

.article-timestamp {
  text-align: right;
  font-weight: 500;
  font-size: 1.1rem;
  color: var(--mainColor, #222);
}

.article-content {
  width: auto;
}

/* markdown editor */

.write-title {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  outline: none;
  margin-bottom: 10px;
}

.editor-container {
  display: flex;
  width: 100%;
  height: 500px;
}

.write-textarea {
  resize: none;
  flex: 1;
  padding: 10px;
  overflow: auto;
  outline: none;
  color: var(--mainColor, #222);
}

.parseMarkdown {
  flex: 1;
  padding: 10px;
  border: 1px solid var(--mainColor, #222);
  border-left: 0;
  border-radius: 5px;
  overflow: auto;
  font-size: 1rem;
  font-weight: 100;
  font-family: monospace;
  color: var(--mainColor, #222);
}

.submitButton {
  height: 30px;
  width: 48px;
  outline: none;
  background-color: transparent;
  color: var(--mainColor, #222);
  line-height: 30px;
  margin: 10px 8px 0 0;
  border-radius: 5px;
  text-align: center;
  border: 1px solid var(--mainColor, #222);
}

.submitButton:hover {
  border: 1px solid #999;
  color: #999;
}
