.skeleton {
  /* width: 200px; */
  height: 120px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid rgba(194, 207, 214, 0.3);
  margin: 5%;
}

.skeletonTitle {
  width: 60%;
  height: 20px;
  transform-origin: left;
  border-radius: 5px;
  animation: skeleton-stretch 1.2s linear infinite alternate;
  background: rgba(194, 207, 214, 0.3);
}

.skeletonTime {
  width: 40%;
  height: 20px;
  margin-top: 10px;
  border-radius: 2px;
  background: rgba(194, 207, 214, 0.3);
}

.skeletonContent {
  width: 90%;
  height: 40px;
  margin-top: 10px;
  border-radius: 5px;
  transform-origin: left;
  animation: skeleton-stretch 0.7s linear infinite alternate;
  background: rgba(194, 207, 214, 0.3);
}

@keyframes skeleton-stretch {
  from {
    transform: scalex(1);
  }
  to {
    transform: scalex(0.3);
  }
}

.writeArea, .parseMarkdown {
  width: 50%;
  min-height: 100% !important;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  overflow: auto;
  float: left;
  resize: none;
}

.dangerWriteArea{
  width: 50%;
  min-height: 100% !important;
  border: 1px dashed red;
  border-radius: 10px;
  overflow: auto;
  float: left;
  resize: none;
}

.submitButton {
  margin: 10px 5px;
}

.primaryTitle {
  width: 100%;
  float: left;
  border-radius: 5px;
  margin: 0 0 10px 0;
}

.dangerTitle {
  width: 100%;
  float: left;
  border-radius: 10px;
  margin: 0 0 10px 0;
  border: 1px dashed red;
}